<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Инструменты</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/png" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/sbadmin")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/bundles/model")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="master-div">
        <div id="wrapper" data-bind="css: {'s-collapse': menuState}">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="s-navbar-header">
                    <a class="navbar-brand" href="@Url.Content("~")"><i class="fa fa-book fa-2x" style="float: left;margin: -10px 10px 0 -2px;"></i>Инструменты</a><i data-bind="css: {'fa-chevron-circle-right': menuState, 'fa-chevron-circle-down': !menuState()}, click: expandCollapse" class="fa fa-2x s-toogle-btn"></i>
                </div>
                <ul class="nav navbar-top-links s-navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <span class="sli-top-menu-lable" data-bind="text: username"></span> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="javascript:void(0)" data-bind="click: onMenuItemClick.bind($data, 'ChangePasswordManager')"><i class="fa fa-gear fa-fw"></i> Настройки</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0)" data-bind="click: logout"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-default s-left-side">
                    <div class="sidebar-nav">
                        <ul class="nav">
                            <li>
                                <a href="javascript:void(0)" data-bind="click: onMenuItemClick.bind($data, 'StartPageManager')"><i class="fa fa-bar-chart fa-fw"></i> <span class="s-left-side-text">Главная</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-bind="click: onMenuItemClick.bind($data, 'ToolsControlManager')"><i class="fa fa-gears fa-fw"></i> <span class="s-left-side-text">Инструменты</span></a>
                            </li>
                            <!-- ko if: rootM.privilege() <= 1 -->
                            <li>
                                <a href="javascript:void(0)" data-bind="click: onMenuItemClick.bind($data, 'PositionManager')"><i class="fa fa-street-view fa-fw"></i> <span class="s-left-side-text">Должности</span></a>
                            </li>
                            <!-- /ko -->
                            <li>
                                <a href="javascript:void(0)" data-bind="click: onMenuItemClick.bind($data, 'WorkerManager')"><i class="fa fa-users fa-fw"></i> <span class="s-left-side-text">Работники</span></a>
                            </li>
                            <!-- ko if: rootM.privilege() <= 2 -->
                            <li>
                                <a href="javascript:void(0)" data-bind="click: onMenuItemClick.bind($data, 'WriteOffManager')"><i class="fa fa-trash fa-fw"></i> <span class="s-left-side-text">Списанные</span></a>
                            </li>
                            <!-- /ko -->
                            <!-- ko if: rootM.privilege() <= 1 -->
                            <li>
                                <a href="javascript:void(0)" data-bind="click: onMenuItemClick.bind($data, 'AccountsManager')"><i class="fa fa-user-plus fa-fw"></i> <span class="s-left-side-text">Учетные записи</span></a>
                            </li>
                            <!-- /ko -->
                            <!-- ko if: rootM.privilege() <= 1 -->
                            <li>
                                <a href="javascript:void(0)" data-bind="click: onMenuItemClick.bind($data, 'AuditManager')"><i class="fa fa-envelope-o fa-fw"></i> <span class="s-left-side-text">Аудит</span></a>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="s-page-wrapper">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="confirm-dialog">
        <div data-bind="with: currentConfirmText">
            <div data-bind="template: { name: 'confirmDialog', data: $parent }">
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/bootstrap/sb-admin-2.js")"></script>
    @RenderSection("scripts", false)
    <script>
        infuser.defaults.templateSuffix = ".tmpl.html";
        infuser.defaults.templateUrl = "templates";
        infuser.defaults.ajax.cache = false;
        /* Apply bindings for MasterModel */
        var rootM = new MasterModel();
        /*pager.extendWithPage(rootM);*/
        ko.applyBindings(rootM, document.getElementById('master-div'));
        //pager.startHistoryJs();
        /*pager.start();*/
        /* Confirmation model for modal dialog */
        var confirmation = new Confirmation();
        ko.applyBindings(confirmation, document.getElementById("confirm-dialog"));
    </script>

</body>
</html>